

<!-- <nav  class="navbar navbar-inverse navbar-default inner_navbar" role="navigation" *ngIf="showLogin">
    <div class="master-main-container col-sm-12 clearfix no-padding">

      <div class="wrapper">

        <div class="content-wrapper" style="min-height: 959.667px;"> -->
        <!-- Content Header (Page header) CPVARIYANI -->
        <!-- <app-sidebar></app-sidebar> -->
        <!-- <router-outlet></router-outlet> -->
        <!-- /.content -->
      <!-- </div> -->

        <!-- <div class="master-body col-sm-12 clearfix no-padding">
          <router-outlet></router-outlet>
        </div> -->

      <!-- </div>
    </div>
    </nav>

    <app-footer></app-footer> -->