<!-- <div class="profile-page-box">
    <div class="profile-page-desing">
  
      <div class=" profile_title">User Profile</div>
  
  
      <div class="picture-container profile_section">
        <div class="picture">
          <img src="{{displayImage}}" class="picture-src" id="wizardPicturePreview" title="">
          <input type="file" id="wizard-picture" class="" type="file" class="inputfile inputfile-1" name="user-pic"
            ngModel accept="image/*" (change)="onSelectSingleFile($event.target.files)">
        </div>
        <span class="picture-icon">
          <i class="material-icons" style="color: #fff; margin-top: 2px;">camera_alt</i>
        </span>
        <p class="postaccept" *ngIf="message"><b> {{displayMsg}}</b></p>
      </div>
  
  
  
      <form class="example-form user_profile_section" style="display: inline-block;" (ngSubmit)="updateProfile(f)" #f="ngForm">
  
  
        <div style="width:100%; float:left; padding:5px ">
  
          <div style="width:50%; float:left; padding-right:10px ">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="First name" [(ngModel)]="user.firstName" name="firstName" ngModel>
            </mat-form-field>
          </div>
  
          <div style="width:50%; float:left; padding-left:10px ">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Last name" [(ngModel)]="user.lastName" name="lastName" ngModel>
            </mat-form-field>
          </div>
  
        </div>
  
         <div style="width:100%; float:left; padding:5px ">
       
          <div style="width:50%; float:left; padding-right:10px ">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="User name" [(ngModel)]="user.username"
                name="username" ngModel>
              </mat-form-field>
            </div>
          <div style="width:50%; float:left; padding-left:10px ">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Designation" [(ngModel)]="user.designation"
            name="designation" ngModel>
          </mat-form-field>
          </div>
  
        </div>
  
        <div style="width:100%; float:left; padding:10px ">
          <div style="width:50%; float:left; padding-right:10px ">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Phone Number" [(ngModel)]="user.phoneNo" name="phoneNo" ngModel>
            </mat-form-field>
          </div>
          <div style="width:50%; float:left; padding-left:10px ">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" [(ngModel)]="user.email" name="email" ngModel>
            </mat-form-field>
          </div>
        </div>
  
  
        
  
        <div style="width:100%; float:left; padding:5px ">
          <div style="width:50%; float:left; padding-right:10px ">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Address" [(ngModel)]="user.address" name="address" ngModel>
            </mat-form-field>
          </div>
  
          <div style="width:50%; float:left; padding-left:10px" Class="gender_section">
            <label style="width: 100%; display: block;">Gender</label>
            <mat-radio-group>
              <mat-radio-button value="MALE" [checked]="gender == 'MALE'" name="gender" (click)="selectGender('MALE')">
                Male</mat-radio-button>
              <mat-radio-button value="FEMALE" [checked]="gender == 'FEMALE'" checked name="gender"
                (click)="selectGender('FEMALE')">
                Female</mat-radio-button>
            </mat-radio-group>
          </div>
  
        </div>
  
        <p class="errorMsg" *ngIf="errorMsgShow"><b>{{errorMsg}}</b></p>
  
        <div style="text-align: right">
          <button style="margin-left: 10px;" mat-raised-button color="warn" class="save-button lp10"
            type="submit">SAVE</button>
        </div>
  
  
      </form>
  
    </div>
  </div>
  
  -->

  <h1>kya hai </h1>