<!-- <div *ngIf="setData">
    <p>
        artistcrud works!
      </p>
      <div >
        here is the data
       {{artistGetData.first_name}}

      </div>
</div> -->


<h2 style="text-align:center">Artist Profile Card</h2>

<div class="card">
  <img [src] ="artistShow.avatar ? artistShow.avatar : displayImage" alt="artist Image" style="width:100%">
  <h1>{{artistShow.first_name}} {{artistShow.last_name}}</h1>
  <p class="title">{{artistShow.email}}</p>
  <p>Harvard University</p>
  <div style="margin: 24px 0;">
    <a ><i class="fa fa-dribbble"></i></a> 
    <a ><i class="fa fa-twitter"></i></a>  
    <a ><i class="fa fa-linkedin"></i></a>  
    <a ><i class="fa fa-facebook"></i></a> 
  </div>
  <p><button>Contact</button></p>
</div>


